# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# tsc source file

# build file
.build

# vscode file
.vscode

# local db config
.env
